.dashboard{
    position: relative;
    width: 100%;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
}
.general{
    position: absolute;
    width: 480px;
    height: 810px;
    left: 1039px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 8px 0px 0px 8px;
}
h4{
    position: relative;
    left: -450px;
    top: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138;
}
h3{
    position: relative;
    left: -450px;
    top: 120px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF9138;

}
.static{
    position: relative;
    left: 230px;
    top:150px;
    display:grid;
    grid-template-columns: 25% 25% 25% 255;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:10px;
    height: 200px;
    width:200px
}
.stacticitem{
    position: relative;
    width: 186px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 10px;
}
.chart{
    position: absolute;
    left:270px;
    top:420px;
    width: 791px;
    height:484px
}
h2{
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #535261;
    width: 60px;
    height: 36px;
}
.staticnumber{
position: relative;
width: 108px;
height: 45px;
left: 5px;
top: 20px;
font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
color: #535261;
}
.labelreport{
    position: relative;
    right:300px;
    top:10px;  
    font-size:20px;
    color:#282739;
}
#labelgeneral{
    position: relative;
color:black
}
.dashboardchooseoption{
    position: absolute;
    left:550px
}
.iconposition{
    position: absolute;
    left:10px;
    top:20px;
}
.lconposition{
    position: relative;
    left: 30px;
    top:20px;
}
.dashboardlabelmain{
    position: relative;
    top: 100px;
}
.dashboardlabelgeneral{
    position: absolute;
    top: 90px;
    font-size: 25px;
    left: 200px
}
.piechartposition{
    margin-top:10px;
    position: absolute;
    top:150px;
    left: 30px;
    width:400px
}
.numberstatic{
    position: relative;
    top: 25px;
    font-size:35px
}
.labelstatic{
    position: relative;
    left: 08px;
    top: 10px;
    font-size:18px
    
}

.site-calendar-demo-card {
    width: 50px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
  }


    