.smallimageprofile{

width: 40px;
height: 40px;

border-radius: 48px;
}
.smallprofile{
    position: absolute;
    right:250px;
    top: 20px;
}
.smallprofilehello{
    position: absolute;
width: 47px;
height: 18px;
right: -50px;
top: 0px;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;


color: #7E7D88;
}
.smallprofilefullname{
position: absolute;
width: 180px;
height: 24px;
right: -170px;
top: 18px;


font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;

color: #535261;
}